
<Configuration>

    <!-- 0 or more renderer elements -->

    <!-- 0 or more appender elements -->
    <Appenders>
        <RollingFile name="ROLL" fileName="/var/log/tomcat8/app.log"
                     filePattern="/var/log/tomcat8/app.%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p [%F:%L] : %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="14"/>
        </RollingFile>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p [%F:%L] : %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener"
                level="fatal"
                additivity="false">
            <AppenderRef ref="${log4j.appender}"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="${log4j.appender}"/>
        </Root>
    </Loggers>

</Configuration>